# DATABASE CONFIGURATION
DB_ENGINE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nexus_db
DB_USER=admin
DB_PASS=
DB_SSL=false

# SYSTEM FOLDERS
ASSETS_DIR=assets
templates_DIR=templates

# PSX CONFIGURATION
PSX_IP=10.133.39.5
PSX_USER=admin
PSX_PASS=
PSX_PORT=8122
